loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: "filesystem"
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        index:
          prefix: loki_index_
          period: 24h
        object_store: filesystem # we're storing on filesystem so there's no real persistence here.
        schema: v13

minio:
  enabled: false

deploymentMode: SingleBinary

singleBinary:
  replicas: 1

# Zero out replica counts of other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 1
querier:
  replicas: 1
queryFrontend:
  replicas: 1
queryScheduler:
  replicas: 1
distributor:
  replicas: 1
compactor:
  replicas: 1
indexGateway:
  replicas: 1
bloomCompactor:
  replicas: 1
bloomGateway:
  replicas: 1

gateway:
  deploymentStrategy:
    type: Recreate
  enabled: false
  affinity: null

chunksCache:
  connectionLimit: 1024
resultsCache:
  connectionLimit: 1024
