apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: example-app-rules
  namespace: default
  labels:
    prometheus: main
    component: rules
    desc: apps-rules
    app: example-app-rules
spec:
  groups:
    - name: WebApiAlert
      rules:
        - alert: WebApiAlert
          expr: sum(rate(http_requests_total[1m])) by (instance) > 1
          for: 30s
          labels:
            team: frontend
            desc: apps-rules 
          annotations:
            titulo: "Número alto de requisições"
            descricao: "{{$labels.instance}} está com um número alto de requisições. ({{$value}}s)"