apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: app-rules
  namespace: default
  labels:
    prometheus: main
    component: rules
    desc: apps-rules
spec:
  groups:
    - name: WebApiAlert
      rules:
        - alert: WebApiAlert
          expr: sum(rate(http_requests_received_total[1m])) by (instance) > 1
          for: 30s
          labels:
            team: webapi
            desc: apps-rules 
          annotations:
            titulo: "Número alto de requisições"
            descricao: "{{$labels.instance}} está com um número alto de requisições. ({{$value}}s)"
    - name: MongoDBAlert
      rules:
        - alert: MongoDBAlert
          expr: rate(mongodb_op_counters_total{type="query"}[10m]) > 0.15
          for: 5s
          labels:
            team: mongodb
            desc: apps-rules
          annotations:
            titulo: "Número alto de consultas"
            descricao: "{{$labels.job}} está com um número alto de consultas."
    - name: go_goroutines
      rules:
        - alert: go_goroutines
          expr: rate(go_goroutines[1m]) > 5
          for: 5s
          labels:
            team: golang
            desc: apps-rules
          annotations:
            titulo: "Número alto de consultas"
            descricao: "{{$labels.job}} está com um número alto de consultas."
